/* headings */
.markdown-preview-view h1
{
  font-family: var(--font-family-preview);
  color: var(--text-title-h1);
}

.markdown-preview-view h2
{
  font-family: var(--font-family-preview);
  color: var(--text-title-h2);
}

.markdown-preview-view h3
{
  font-family: var(--font-family-preview);
  color: var(--text-title-h3);
}

.markdown-preview-view h4
{
  font-family: var(--font-family-preview);
  color: var(--text-title-h4);
}

.markdown-preview-view h5
{
  font-family: var(--font-family-preview);
  color: var(--text-title-h5);
}

.markdown-preview-view h6
{
  font-family: var(--font-family-preview);
  color: var(--text-title-h5);
}

/* add some header prefix in preview */
h1::before
{
  content: 'H1 ';
  font-size: 12px;
  color: var(--text-faint)
}

h2::before
{
  list-style-type: disc;
  content: 'H2 ';
  font-size: 12px;
  color: var(--text-faint)
}

h3::before
{
  content: 'H3 ';
  font-size: 12px;
  color: var(--text-faint)
}

h4::before
{
  content: 'H4 ';
  font-size: 12px;
  color: var(--text-faint)
}

h5::before
{
  content: 'H5 ';
  font-size: 12px;
  color: var(--text-faint)
}

h6::before
{
  content: 'H6 ';
  font-size: 12px;
  color: var(--text-faint)
}
